/*====================Poppup Detail Account=======================*/
.Popup-Account {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .bg_overlay {

        height: 100%;
        width: 100%;
        position: fixed;
        // z-index: 2;
        top: 0;
        left: 0;
        // background-color: rgba(0,0,0, 0.9);
        background-color: rgba(0,0,0, 0.6);
        overflow-x: auto;
        overflow: hidden;
        transition: .5s;
    }
    .contentPopup
    {
        position: absolute;
        top: 25%;
        margin: auto;
        border-radius: 6px;
        background-color: rgb(38, 38, 38);
        width: 600px;
        padding-top: 5px;
        margin-left: -300px;
        left: 50%;
        .col{
            vertical-align: middle;
            padding-right: 22px;
        }
        .btn_close {
            position: absolute;
            right: -80px;
            top: 0;
            cursor: pointer;
            img {
                width: 60px;
            }
        }
        .main-nav
        {
            font-size: 22px;
            margin-top: 10px;
            padding-bottom: 10px;
            a {
                    margin: 0 2%;
                    font-size: 22px;
            }
        }
        .row {

                // clear: both;
                span {
                    line-height: 2.5;
                    color: #cccccc;
                    font-size: 16px;
                    display: block;
                    float: left;
                    &:first-child {
                        width: 163px;
                    }
                    &:last-child {
                        width: 240px;
                        font-weight: bold;
                        color: #fff;
                        &.typeFilm {
                            color: #376bfb;
                        }
                    }
                }
            }
        .inforAccountBlock {
            margin: auto;
            padding: 20px 10px;
            display: table;
            .col{
                display: table-cell;
            }
            .itemUser {
                float: left;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                margin-right: 10px;
                border: 2px #fff solid;
                overflow: hidden;
            }
            
        }
        .transAcountBlock {
            .clearfix
            {
                border-bottom: 2px solid #333;
                float: left;
                width: 90%;
                margin-left: 25px;
                margin-bottom: 10px;
            }
            .col {
                width: 90%;
                padding-left: 10px;
                margin-left: 10px;
                
                .row {
                    span:last-child {
                    width: 300px;
                    font-weight: bold;
                    color: #fff;
                    }
                }
            }
        }

    }

}
//====================================================