/*====================Poppup Detail Account=======================*/
.Popup-Account {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    transition: .3s all ease;
    visibility: hidden;
    opacity: 0;
    &.m-fadeIn {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
    }
    .abc{
        color: #fff;
    }
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .bg_overlay {

        height: 100%;
        width: 100%;
        position: fixed;
        // z-index: 2;
        top: 0;
        left: 0;
        // background-color: rgba(0,0,0, 0.9);
        background-color: rgba(0,0,0, 0.6);
        overflow-x: auto;
        overflow: hidden;
        transition: .5s;
    }
    .contentPopup
    {

        position: absolute;
        top: 25%;
        margin: auto;
        border-radius: 6px;
        background-color: rgb(38, 38, 38);
        width: 600px;
        padding-top: 5px;
        margin-left: -300px;
        left: 50%;
        .col{
            vertical-align: middle;
            padding-right: 22px;
        }
        .btn_close {
            position: absolute;
            right: -80px;
            top: 0;
            cursor: pointer;
            img {
                width: 60px;
            }
        }
        .main-nav
        {
            font-size: 22px;
            margin-top: 10px;
            padding-bottom: 10px;
            a {
                    margin: 0 2%;
                    font-size: 22px;
            }
        }
        .row {

                // clear: both;
                span {
                    line-height: 2.5;
                    color: #cccccc;
                    font-size: 16px;
                    display: block;
                    float: left;
                    &:first-child {
                        width: 163px;
                    }
                    &:last-child {
                        width: 240px;
                        font-weight: bold;
                        color: #fff;
                        &.typeFilm {
                            color: #376bfb;
                        }
                    }
                }
            }
        .inforAccountBlock {
            height: 360px;
            overflow-y: auto;
            overflow-x: hidden;
            margin: auto;
            padding: 20px 10px;
            display: table;
            .col{
                display: table-cell;
            }
            .itemUser {
                float: left;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                margin-right: 10px;
                border: 2px #fff solid;
                overflow: hidden;
            }

        }
        .transAcountBlock {
            height: 360px;
            overflow-y: auto;
            overflow-x: hidden;
            .clearfix
            {
                border-bottom: 2px solid #333;
                float: left;
                width: 90%;
                margin-left: 25px;
                margin-bottom: 10px;
            }
            .col {
                width: 90%;
                padding-left: 10px;
                margin-left: 10px;

                .row {
                    span:last-child {
                    width: 300px;
                    font-weight: bold;
                    color: #fff;
                    }
                }
            }
        }
        .informAcountBlock {
            height: 360px;
            overflow-y: auto;
            overflow-x: hidden;
            .clearfix
            {
                border-bottom: 2px solid #333;
                float: left;
                width: 90%;
                margin-bottom: 10px;
            }
            .col {
                width: 100%;
                margin-left: 25px;
                margin-top: 15px;

                .row {
                    span {
                        width: 90%;
                        color : #fff;
                        font-weight: normal;
                        &.dicription {
                            line-height: 1.5;
                        }
                        &.time {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .Popup-Pay-Account {

            height: 280px;
            float: left;
            width: 100%;
            padding: 30px;
            .pay-nav {
                float: left;
                border-bottom: none;
                width: auto;
                a {
                    float: left;
                    padding: 10px 20px;
                    border-radius: 5px;
                    font-size: 18px;
                    text-transform: inherit;
                    color: #cccccc;
                    &:hover {

                        color: #fff;
                        background-color: #404040;
                        border-bottom: none;
                    }
                    &.active {
                        color: #fff;
                        background-color: #404040;
                        border-bottom: none;
                    }
                }
            }
            .giftPayAcountBlock
            {
                background-color: #404040;
                float: left;
                width: 90%;
                margin-top: -6px;
                padding: 40px 0;
                border-radius: 5px;
                .col {
                    font-size: 18px;
                    padding-left: 20px;
                    span {
                        padding-right: 5px;
                        color: #fff
                    }
                    input {
                        height: 45px;
                        width: 40%;
                        padding-right: 5px;
                        background-color: #666666;
                        border-radius: 5px;
                        border:none;
                    }
                    button {
                        font-weight: bold;
                        margin-left: 10px;
                        background-color: #376bfb;
                        height: 45px;
                        border: none;
                        width: 100px;
                        color: #fff;
                        border-radius: 5px;

                    }
                }
            }
        }

    }

}
//====================================================
