

$accent: #ff4081;
$primary: #1976d2;
/*====================Poppup Detail Account=======================*/
.Popup-Account {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    transition: .3s all ease;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    &.m-fadeIn {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
    }
    .abc{
        color: #fff;
    }
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .bg_overlay {

        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.6);
        overflow-x: auto;
        overflow: hidden;
        -webkit-transition: .3s all ease;
        -moz-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        transition: .3s all ease;
    }
    .contentPopup
    {

        position: absolute;
        top: 25%;
        margin: auto;
        border-radius: 6px;
        background-color: rgb(38, 38, 38);
        width: 600px;
        padding-top: 5px;
        margin-left: -300px;
        left: 50%;
        .col{
            vertical-align: middle;
            padding-right: 22px;
        }
        .btn_close {
            position: absolute;
            right: -80px;
            top: 0;
            cursor: pointer;
            img {
                width: 60px;
            }
        }
        .main-nav
        {
            font-size: 22px;
            padding: 18px 0;
            margin: 0;
            a {
                margin: 0 2%;
                font-size: 20px;
                padding: 1%;
            }
        }
        .row {
            span {
                line-height: 2.5;
                color: #cccccc;
                font-size: 16px;
                display: block;
                float: left;
                &:first-child {
                    width: 163px;
                }
                &:last-child {
                    width: 240px;
                    font-weight: bold;
                    color: #fff;
                    &.typeFilm {
                        color: #376bfb;
                    }
                }
            }
        }
        .inforAccountBlock {
            margin: auto;
            padding: 20px 10px;
            display: table;
            .col{
                display: table-cell;
            }
            .itemUser {
                float: left;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                margin-right: 10px;
                border: 2px #fff solid;
                overflow: hidden;
            }

        }
        .transAcountBlock {
            .block
            {
                border-bottom: 2px solid #333;
                float: left;
                width: 90%;
                margin-left: 25px;
                margin-bottom: 10px;
            }
            .row {
                span:last-child {
                width: 300px;
                font-weight: bold;
                color: #fff;
                }
            }
        }
        .informAcountBlock {
            .row {
                clear: both;
                border-bottom: 1px solid #333;
                padding: 10px 0;
                overflow: hidden;
                margin: 0px 20px;
                span {
                    width: 90%;
                    color : #fff;
                    font-weight: normal;

                    &.dicription {
                        line-height: 1.5;
                    }
                    &.time {
                        font-size: 13px;
                    }
                }
            }
        }
        .Popup-Pay-Account {
            clear: both;
            padding-left: 33px;
            padding: 40px 0px 40px 33px;
            overflow: hidden;
            .main-nav {
                float: left;
                border-bottom: none;
                width: auto;
                margin: 0;
                padding: 0;
                a {
                    float: left;
                    padding: 14px 20px;
                    border-radius: 5px;
                    font-size: 18px;
                    text-transform: inherit;
                    color: #cccccc;
                    border: 0;
                    margin:  0;
                    margin-top: -6px;

                    &:hover,&.current {
                        color: #fff;
                        background-color: #404040;
                        border-bottom: none;
                    }
                    &.active {
                        color: #fff;
                        background-color: #404040;
                        border-bottom: none;
                    }
                }
            }
            .giftPayAcountBlock
            {
                background-color: #404040;
                float: left;
                width: 535px;
                margin-top: -6px;
                padding: 40px 0;
                border-radius: 5px;
                .content {
                    font-size: 17px;
                    padding-left: 20px;
                    span {

                        color: #fff
                    }
                    input {
                        height: 45px;
                        width: 40%;
                        padding: 0 5px;
                        background-color: #666666;
                        border-radius: 5px;
                        border:none;
                        margin: 0 15px;
                    }
                    button {
                        font-weight: bold;
                        background-color: #376bfb;
                        height: 45px;
                        border: none;
                        width: 100px;
                        color: #fff;
                        border-radius: 5px;
                    }
                }
            }
        }

    }
    &.Login {
        .contentPopup
        {
            position: absolute;
            top: 25%;
            margin: auto;
            border-radius: 6px;
            background-color: rgb(38, 38, 38);
            width: 400px;
        /* margin: auto; */
            padding-top: 5px;
            margin-left: -200px;
            left: 50%;
            h3 {
                color: #fff;
            }
            .col{
                vertical-align: middle;
                padding-right: 22px;
            }
            .main-nav
            {
                font-size: 22px;
                margin-top: 0;
                padding-bottom: 18px;
                a {
                        margin: 0 2%;
                        font-size: 22px;
                }
            }
            .contentBlock {
                padding: 30px 50px;
                .btn-social {
                    display: block;
                    padding: 10px 40px;
                    font-size: 14px;
                    line-height: 1.4;;
                    cursor: pointer;
                    margin: 10px 0;
                    border-radius: 4px;
                    background-color: #3b5997;
                    color: #fff;
                    text-align: left;
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        background: url(/app/assets/img/icon/i-facebook.png) transparent left center no-repeat;
                        width: 12px;
                        background-size: 12px auto;
                        height: 26px;
                        position: absolute;
                        left: 18px;
                        top: 6px;
                    }
                    &.facebook {
                        &::before {
                            background: url(/app/assets/img/icon/i-facebook.png) transparent left center no-repeat;
                            background-size: 12px auto;
                        }
                    }
                    &.email {
                        background-color: #de4d32;
                        padding-left: 50px;
                        &::before {
                            background: url(/app/assets/img/icon/i-email.png) transparent left center no-repeat;
                            background-size: 20px auto;
                            width: 20px;
                        }
                    }
                    &.phone {
                        background-color: #3366ff;
                        &::before {
                            background: url(/app/assets/img/icon/i-phone.png) transparent left center no-repeat;
                            background-size: 12px auto;
                        }
                    }


                }
                ///
            }
        }
    }
    &.Trailer {
        .contentPopup {
            margin-left: -43%;
            width: 90%;
            top: 5%;
            background: none;
            .btn_close {
                left: -76px;
                top: 0;
            }
        }
    }
}
//====================================================
