.head{
    padding-top: 50px;
    h3.title{
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        padding-left: 45px;
        float: left;
    }
    a.viewall{
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: #fff;
        padding-right: 23px;
        margin-right: 45px;
        background: url("/app/assets/img/icon/arrow_small.png") transparent  right center no-repeat;
        float:right;
    }
}
/*===========================================*/
.item {
    border-radius: 5px;
    margin: 3px;
    display: inline-block;
    overflow: visible;
    -webkit-transition: all 200ms ease-out;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-out;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-out;
    -moz-transform: scale(1);
    transition: all 200ms ease-out;
    transform: scale(1);
    .iconPlay {
        background: url("/app/assets/img/icon/play_icon.png") transparent  right center no-repeat;
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -40px;
        margin-left: -40px;
        opacity: 0;
        -webkit-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
    }
    a{
        color: #fff;
        img {
            display: block;
        }
    }
    &:hover{
        box-shadow: 0px 0px 150px #000000;
        -webkit-transition: all 200ms ease-out;
        -webkit-transform: scale(1.2);
        -ms-transition: all 200ms ease-out;
        -ms-transform: scale(1.2);
        -moz-transition: all 200ms ease-out;
        -moz-transform: scale(1.2);
        transition: all 200ms ease-out;
        transform: scale(1.2);
        position: relative;
        z-index: 99;
        .iconPlay {
            opacity: 1;
        }
    }
}
/*===========================================*/
.description {
    background: #000;
    min-height: 74px;
    padding: 0px 15px;
    h6 {
        font-size: 18px;
        padding: 14px 0;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }
    .play {
        font-size: 14px;
        float: left;
        background: url("/app/assets/img/icon/i-play.png") transparent  left center no-repeat;
        padding-left: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }
    .heart {
        font-size: 14px;
        float: left;
        background: url("/app/assets/img/icon/heart.png") transparent  left center no-repeat;
        padding-left: 28px;
        height: 16px;
        line-height: 16px;
        margin-left: 30px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }
}
/*===========================================*/
.list-video {
    clear: both;
    padding: 30px 44px;
}
/*TV show*/
.TVShow {

}
/*===========================================*/
.Paging {
    clear: both;
    text-align: center;
    padding: 30px;
    a {
        display: inline-block;
        color: #fff;
        margin: 0 5px;
        margin: 0 14px;
        font-size: 18px;
        cursor: pointer;
        -webkit-transition: all 200ms ease-out;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-out;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-out;
        -moz-transform: scale(1);
        transition: all 200ms ease-out;
        transform: scale(1);
        &:hover {
            color: #304fa6;
            -webkit-transition: all 200ms ease-out;
            -webkit-transform: scale(2);
            -ms-transition: all 200ms ease-out;
            -ms-transform: scale(2);
            -moz-transition: all 200ms ease-out;
            -moz-transform: scale(2);
            transition: all 200ms ease-out;
            transform: scale(2);
            position: relative;
            z-index: 99;
        }
    }
}
/*====================Video Detail=======================*/
.VideoDetail, .LiveHome {
    clear: both;
    padding: 40px 0;
    .VideoPlay {
        position: relative;
        clear: both;
        .Video {
            margin: 0 auto;
            width: 90%;
            img {
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
                display: block;
            }
        }
        .controlVideo {
            position: absolute;
            float: left;
            width: 100%;
            height: 68px;
            bottom: 34px;
            .Node
            {
                img {
                    margin-left: 0px;
                    padding-left: 0px;
                }
            }
            .background-control-video
            {
                width: 82%;
                background-color: rgb(38, 38, 38);
                margin: 0 auto;
                overflow: hidden;
                padding: 15px;
                border-radius: 6px;
            }
            width: 100%;
            float: left;
            img {
                float: left;
                    padding-left: 15px;
            }
            .progress-active {
                background-color: rgb(55, 107, 251);
                width: 30%;
                height: 6px;
                margin-left: 15px;
                margin-top: 10px;
                float: left;
            }
            .progress-nonactive {
                width: 30%;
                height: 6px;
                background-color: #fff;
                margin-top: 10px;
                float: left;
                margin-left: -2px;
            }
            .cls-minute {
                font-size: 20px;
                color: #fff;
                margin-left: 1%;
                float: left;
                margin-top: 4px;
            }

        }
    }
}
/*======================================================*/
.commentBlock {
    clear: both;
    color: #ccc;
    padding: 40px;
    .box-input {
        background-color: #4d4d4d;
        border-radius: 5px;
        overflow: hidden;

        textarea {
            float: left;
            padding: 10px;
            font-size: 16px;
            font-family: 'Roboto';
            line-height: 1.4;
            width: 82%;
            background-color: #4d4d4d;
            outline: none;
            border: none;
            color: #ccc;
            resize: none;
        }
        .control {
            float: right;
            padding: 14px 20px;
            p.text {
                clear: both;
                font-size: 16px;
                padding-bottom: 11px;
            }
            .btn{
                width: 110px;
                height: 42px;
                border-radius: 5px;
                display: block;
                background-color: #376bfb;
                font-size: 17px;
                font-weight: 700;
                color: #fff;
                span {
                    background: url("/app/assets/img/icon/arrow-send.png")  right center no-repeat;
                    background-size: 38%;
                    display: block;
                    width: 60px;
                    line-height: 42px;
                    margin: 0 auto;
                    display: block;
                }
                &:hover {
                    background-color: #0647fa;
                }

            }
        }
    }
    .comment {
        clear: both;
        .itemUser {
            clear: both;
            position: relative;
            border-bottom: 1px #333333 solid;
            overflow: hidden;
            display: block;
            padding: 10px 0;
            .imgBox {
                float: left;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                margin-right: 10px;
                overflow: hidden;
            }
            .time {
                position: absolute;
                right: 0;
                top: 15px;
                font-size: 13px;
            }
            .content {
                float: left;
                padding-top: 16px;
                .name {
                    clear: both;
                    font-weight: 700;
                    padding: 0px 10px;
                }
                .text {
                    font-size: 13px;
                    padding: 10px;
                }
            }
        }
    }
}
//====================================================
.infoBlock {
    clear: both;
    width: 100%;
    padding: 18px 0;
    color: #fff;
    overflow: hidden;
    .col {
        float: left;
        width: 63%;
        padding-right: 7%;
        &.right {
            padding-top: 49px;
            width: 30%;
            padding-right: 0;
        }
    }
    h3.title {
        clear: both;
        padding: 15px 0;
    }
    p.text {
        font-size: 16px;
        line-height: 1.4;
    }
    .infoVideo {

    }
    .row {
        clear: both;
        span {

            color: #cccccc;
            font-size: 16px;
            line-height: 1.5;
            display: block;
            float: left;
            &:first-child {
                width: 140px;
            }
            &:last-child {
                width: 240px;
                font-weight: bold;
                color: #fff;
                &.typeFilm {
                    color: #376bfb;
                }
            }
        }
    }
}
//====================================================
h3 {
    font-size: 24px;
    font-weight: 700;
}
.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

// //====================================================
