
.mainNavigation {
    &.fixed {
        position: fixed;
        top: 60px;
        width: 100%;
        background: #262626;
        z-index: 1000;
    }
}
.main-nav{
    padding-top: 86px;
    border-bottom: 2px solid #333;
    padding-bottom: 15px;
    text-align: left;
    padding-left: 45px;
    &.fixed {
        margin-top: 86px;
    }
    a {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ccc;
        margin: 0;
        display: inline-block;
        border: 2px solid transparent;
        padding: 12px 15px 8px;
        position: relative;
        &.active{
            background: #376bfb;
            color: #fff;
            border: 2px solid #fff;
            &:after{
                content: "";
                width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid #fff;
              position: absolute;
              bottom: -10px;
              left: 50%;
              margin-left: -10px;
            }
        }
        &:hover {
            background: #376bfb;
            &:after{
                content:"";
                width: 0;
              height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #376bfb;
                position: absolute;
                bottom: -10px;
                left: 50%;
                margin-left: -10px;
            }
        }
    }
    &.tab {
        margin-top: 40px;
        a {
            &:hover, &.current {
                border-bottom: 3px #376bfb solid;
                color: #376bfb;
            }
        }
    }
}

.logo {
    position: absolute;
    top: 10px;
    left: 45px;
    z-index: 100;
}

.slickSlider {
    position: relative;
}

.slickSlider, .sliderBlock {
    .slick-arrow{
        background: url("/app/assets/img/arrow.png") transparent  left center no-repeat;
        width: 18px;
        height: 30px;
        position: absolute;
        z-index: 100;
        top: 50%;
        margin-top: -15px;
        cursor: pointer;
    }
    .slick-next{
        background-position: right center;
    }
}

.slick-dots{
    position: absolute;
    right: 50px;
    bottom: 15px;
}

.slick-dots li {
    display: inline-block;
    background: #b3b3b3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    margin-left: 12px;
}
.slick-dots li.slick-active{
    height: 12px;
    width: 12px;
    background: #fff;
    position: relative;
    top: 0;
}
.slick-dots li button{
    background: transparent;
    border: none;
    text-indent: -9999px;
    outline: none;
    cursor: pointer;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    .wrap{
        position: absolute;
        min-height: 60px;
        width: 100%;
        z-index: 2;
        &:after{
            content: "";
            position: absolute;
            // background: #0d0d0d;
            background: url("/app/assets/img/bg-top.png") transparent  left top repeat-x;
            background-size: auto 100%;
            // opacity: 0.8;
            width: 100%;
            height: 60px;
        }

    }

    nav{
        position: absolute;
        top: 20px;
        z-index: 100;
        right: 50px;
        li{
            float: left;
            margin-left: 34px;
            position: relative;
            a{
                display: inline-block;
                border-radius: 50%;
                color: #fff;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 18px;
            }
            ul.submenu{
                position: absolute;
                top: 55px;
                right: 0;
                width: 130px;
                display: none;
                li{
                    position: relative;
                    z-index: 1;
                    margin-left: 1px;
                    width: 100%;
                    a{
                        font-size: 14px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        color: #ccc;
                        padding: 12px 0;
                        display: block;
                        padding-left: 20px;
                        &:hover{
                            background: #376bfb;
                            border-radius: 0;
                        }
                    }
                    &.signout{
                        border-top: 1px solid #333537;
                    }
                }
                &:after, &:before{
                    content:"";
                    position: absolute;
                }
                &:before{
                    width: 0;
                      height: 0;
                      border-left: 5px solid transparent;
                      border-right: 5px solid transparent;
                      border-bottom: 5px solid #000;
                      top: -4px;
                        left: 50%;
                        margin-left: -7px;
                }
                &:after{
                    background: #000;
                    opacity: 0.7;
                    width: 100%;
                    height: 100%;
                    left: 0;
                }
            }
            &:hover{
                ul.submenu{
                    display: block;
                }
            }
            &.username{
                padding-bottom: 40px;
            }
        }

    }
    a.btn-search{
        background: url("/app/assets/img/search-icon.png") transparent  center no-repeat;
        width: 25px;
        height: 25px;
    }
    a.btn-notification{
        background: url("/app/assets/img/bell-icon.png") transparent  center no-repeat;
        width: 25px;
        height: 25px;
        position: relative;
        span{
            background: #f72533;
            border-radius: 40px;
            padding: 5px 7px;
            color: #fff;
            font-size: 12px;
            position: absolute;
            right: -10px;
            top: -4px;
        }
    }
    &.solid{
        .wrap{
            &:after{
                opacity: 1;
                background: #0d0d0d;
            }
        }
    }
    &.trans-solid{
        .wrap{
            &:after{
                opacity: 0.8;
                background: #0d0d0d;
            }
        }
    }
}

a.btn-avatar{
    background: #ccc;
    height: 38px;
    width: 38px;
    text-align: center;
    position: relative;
    top: -7px;
}
a.btn-avatar img{
    margin-top: 6px;
}
