.LiveHome.All {
	.itemAllLive {
		display: none;
	}
	.listSlider .slick-slider {
		width: auto;
		float: none;
	}
	.listSlider {
		width: auto;
	}
}
.LiveSchedule {
	width: 23%;
	background-color: #0d0d0d;
	height: 100%;
 	display: table-cell;
	vertical-align: top;
	.head {
		background-color: #262626;
		float: left;
		padding: 20px 0px;
		clear: both;
		h3 {
			padding-left: 15px;
			width: 100%;
			line-height: 2.5;
		}
		a {
			padding-left: 15px;
			float: left;
		}
	}
	.scroll-list {
		float: left;
		width: 100%;
		.row {
			clear: both;
			overflow: hidden;
			padding: 12px;
			border-bottom: 1px #262626 solid;
			cursor: pointer;
			&:hover {
				background: #376bfb;
			}
		}
		.col {
			float: left;
			.thumb {
				padding-right: 12px;
				width: 120px;
				img {
					width: 100%;
				}
			}
			&.content{
				width: 50%;
			}
			h6.titleVideo
			{
				width: 100%;
				float: left;
				color : #fff;
				font-size: 16px;
				line-height: 1.2;
				padding-bottom: 9px;
			}
			.time {
				color: #cccccc;
				padding-top: 1px;
				background: url(/app/assets/img/icon/clock-icon.png) transparent left center no-repeat;
				padding-left: 28px;

			}
			.live-icon {
				color: #f72533;
				float: right;
				&:before {
					content: "";
					position: relative;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: #f72533;
					display: inline-block;
					margin-right: 4px;
				}
			}
		}
	}
}
