.LiveHome
{
	.VideoPlay {
		.Video {
			img {
				height: 500px;
			}
		}
		.controlVideo {

			.background-control-video {
				width: 60%;
				float: left;
				margin-left: 6%;
				.progress-active{
					width: 10%;
				}
			}
		}
	}
}
.LiveSchedule {
	width: 25%;
	margin-right: 5%;
	top: 0;
	right: 0;
	position: absolute;
	background-color: #0d0d0d;
	height: 100%;
	float: left;
	.head {
		background-color: #262626;
		float: left;
		width: 100%;
		padding: 20px 0px;
		h3 {
			padding-left: 15px;
			width: 100%;
			line-height: 2.5;

		}
		a {
			padding-left: 15px;
			float: left;
		}
	}
	.scroll-list {
		float: left;
		width: 100%;
		.row {
			clear: both;
		}
		.col {
			width: 40%;
			float: left;
			&:last-child {
				padding: 5%;
    			width: 50%;
			}
			.thumb {
				img {
					width: 100%;
					height: 70px;
					padding: 10px;	
				}
			}
			.titleVideo
			{
				width: 100%;
				float: left;
				color : #fff;
				font-size: 16px;
				line-height: 2.5;
			}
			.clock {
				display: table;
				img {
					display: table-cell;
					vertical-align: middle;
					&.live-icon {
						margin-bottom: 3px;
					}
				}
				span {
					display: table-cell;
					vertical-align: middle;
					padding: 0 20px;
				}
			}
			.time {
				color: #cccccc;
				padding-top: 1px;
				display: table-cell;

			}
		}
	}
}