.Popup-Login {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &.m-fadeIn {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
    }
    .bg_overlay {

        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        // background-color: rgba(0,0,0, 0.9);
        background-color: rgba(0,0,0, 0.6);
        overflow-x: auto;
        overflow: hidden;
        transition: .5s;
    }
    .contentPopup
    {
        position: absolute;
        top: 25%;
        margin: auto;
        border-radius: 6px;
        background-color: rgb(38, 38, 38);
        width: 400px;
    /* margin: auto; */
        padding-top: 5px;
        margin-left: -200px;
        left: 50%;
        h3 {
            color: #fff;
        }
        .col{
            vertical-align: middle;
            padding-right: 22px;
        }
        .btn_close {
            position: absolute;
            right: -80px;
            top: 0;
            cursor: pointer;
            img {
                width: 60px;
            }
        }
        .main-nav
        {
            font-size: 22px;
            margin-top: 10px;
            padding-bottom: 10px;
            a {
                    margin: 0 2%;
                    font-size: 22px;
            }
        }
        .contentBlock {
            margin: auto;
            padding: 40px 10px;
            text-align: center;
            .btn-block + .btn-block {
                margin-top: 5px;
            }
            .btn-social {
                position: relative;
                padding-left: 44px;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
            }
            .btn {
                display: inline-block;
                padding: 6px 64px;
                width: 160px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                margin: 5px 0;
                border: 1px solid transparent;
                border-radius: 4px;
            }
            .btn-social>:first-child {
                position: absolute;
                left: 15px;
                top: 0;
                bottom: 0;
                line-height: 34px;
                font-size: 1.6em;
                text-align: center;
            }
            .loginFacebook
            {
                .btn-facebook {
                    text-align: left;
                    color: #fff;
                    background-color: #3b5998;
                    border-color: rgba(0,0,0,0.2);
                    :hover {
                        color: #fff;
                        background-color: #2d4373;
                        border-color: rgba(0,0,0,0.2);
                    }
                    ::before {
                        margin-right: 5px;
                    }
                }
            }
            .loginEmail {
                .btn-google {
                    text-align: left;
                    color: #fff;
                    background-color: #dd4b39;
                    border-color: rgba(0,0,0,0.2);
                    :hover {
                        color: #fff;
                        background-color: #c23321;
                        border-color: rgba(0,0,0,0.2);
                    }
                    ::before {
                            margin-right: 5px;
                    }
                }
            }
            .loginPhoneNumber {
                .btn-phone {
                    text-align: left;
                    color: #fff;
                    background-color: #55acee;
                    border-color: rgba(0,0,0,0.2);
                    :hover {
                        color: #fff;
                        background-color: #2795e9;
                        border-color: rgba(0,0,0,0.2);
                    }
                    ::before
                    {
                            margin-right: 5px;
                    }
                }
            }
        }
    }

}
