figure {
	width:100%;
	height:100%;
	margin: 0 auto;
}
figcaption {
	color:#fff;
}
video {
	width:100%;
}

/* controls */
.controls > * {
	float:left;
	height:100%;
	display:block;
}
.controls, .controls > * {
	padding:0;
	margin:0;
}
.controls {
	background: transparent;
	width: 90%;
	height: 28px;
	padding: 15px 0px 15px 20px;
	background-color: #262626;
	border-radius: 5px;
	position: relative;
	top: -100px;
	margin: 0 auto;
	&[data-state=hidden] {
		display:none;
	}
	&[data-state=visible] {
		display:block;
	}
	section {
		width: 4%;
		height: 100%;
		button {
			width: 100%;
			height: 100%;
		}
		&.mute {

		}
		&.fs {

		}
		&.config {

		}
		&.playpause {

		}
		&.heart {

		}
		&.link {

		}
		&.cc {
			width: 5%;
		}
	}

	.toolBar {
		position: absolute;
		bottom: 58px;
		padding: 0;
		background-color: rgba(0,0,0, 0.3);
		-webkit-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
		visibility: hidden;
		opacity: 0;
		margin-left: -5%;
		&.active {
			visibility: visible;
			opacity: 1;
		}
		a {
			color: #fff;
			display: block;
			padding: 12px 40px;
			&:hover {
				background-color: #4d4d4d;
			}
		}
	}
	.progress {
		cursor:pointer;
		width:61%;
		margin-right: 1.195313%;
	}
	.time {
		font-size: 18px;
    	width: 8%;
    	line-height: 27px;
    	margin-left: 0.1953125%;
		color: #fff;
		span {
			display: inline-block;
		}
	}
	button {
		text-align:center;
		overflow:hidden;
		white-space:nowrap;
	  	text-overflow:ellipsis;
	  	border:none;
	  	cursor:pointer;
	  	text-indent:-99999px;
	  	background:transparent;
	  	background-size:contain;
	  	background-repeat:no-repeat;
		&:hover, &:focus {
			opacity:0.5;
		}
		&[data-state="play"]  {
			background: url("/app/assets/img/icon/fa-play.png") transparent  left center no-repeat;

		}
		&[data-state="pause"] {
			background: url("/app/assets/img/icon/i-pause.png") transparent  left center no-repeat;
		}

		&[data-state="mute"] {
			background: url("/app/assets/img/icon/fa-volume-up.png") transparent  left center no-repeat;
		}
		&[data-state="unmute"] {
			background: url("/app/assets/img/icon/unmute.png") transparent  left center no-repeat;
		}

		&[data-state="go-fullscreen"] {
			background: url("/app/assets/img/icon/zoom.png") transparent  left center no-repeat;
		}
		&[data-state="cancel-fullscreen"] {
			background: url("/app/assets/img/icon/exitFullScreen.png") transparent  left center no-repeat;
		}
		&[data-state="heart"] {
			background: url("/app/assets/img/icon/fa-heart.png") transparent  left center no-repeat;
		}
		&[data-state="link"] {
			background: url("/app/assets/img/icon/fa-share-alt.png") transparent  left center no-repeat;
		}
		&[data-state="cc"] {
			background: url("/app/assets/img/icon/fa-cc.png") transparent  left center no-repeat;
		}
		&[data-state="config"] {
			background: url("/app/assets/img/icon/fa-cog.png") transparent  left center no-repeat;
		}
	}
	#progress {
		display:block;
		width:100%;
		height:81%;
		height: 6px;
		border:none;
		margin-top: 12px;
		color:#0095dd; /* Internet Explorer uses this value as the progress bar's value colour */
		background-color:#fff;
		&[data-state="fake"] {
			background:#e6e6e6;
			height:65%;
		}
		span {
			width:10%;
			height:100%;
			display:inline-block;
			background-color:#2a84cd;
			 position: relative;
			 top: -5px;
			 height: 7px;
		}
		.progress-button {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			position: relative;
			left: 80%;
			background: #fff;
			top: -12px;
		}
	}
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* fullscreen */
html:-ms-fullscreen {
	width:100%;
}
:-webkit-full-screen {
	background-color:transparent;
}
video:-webkit-full-screen + .controls {
	background:#ccc; /* required for Chrome which doesn't heed the transparent value set above */
}
video:-webkit-full-screen + .controls progress {
	margin-top:0.5rem;
}

/* hide controls on fullscreen with WebKit */
figure[data-fullscreen=true] video::-webkit-media-controls {
	display:none !important;
}
figure[data-fullscreen=true] {
	max-width:100%;
	width:100%;
	margin:0;
	padding:0;
	max-height:100%;
}
figure[data-fullscreen=true] video {
	height:auto;
}
figure[data-fullscreen=true] figcaption {
	display:none;
}
figure[data-fullscreen=true] .controls {
	position:absolute;
	bottom:2%;
	width:100%;
	z-index:2147483647;
}
figure[data-fullscreen=true] .controls li {
	width:5%;
}
figure[data-fullscreen=true] .controls .progress {
	width:68%;
}

/* Media Queries */
@media screen and (max-width:1024px) {
	figure {
		padding-left:0;
		padding-right:0;
		height:auto;
	}
	.controls {
		/* we want the buttons to be proportionally bigger, so give their parent a set height */
		height:30px;
		height:1.876rem;
	}
}
@media screen and (max-width:42.5em) {
	.controls {
		height:auto;
	}
	.controls > * {
		display:block;
		width:16.6667%;
		margin-left:0;
		height:40px;
		height:2.5rem;
		margin-top:2.5rem;
	}
	.controls .progress {
		/*display:table-caption;*/ /* this trick doesn't work as elements are floated and the layout doesn't work */
		position:absolute;
		top:0;
		width:100%;
		float:none;
		margin-top:0;
	}
	.controls .progress progress {
		width:98%;
		margin:0 auto;
	}
	.controls button {
		background-position:center center;
	}
	figcaption {
		text-align:center;
		margin-top:0.5rem;
	}
}
