@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=vietnamese');
@import 'reset.scss';
@import 'slick.scss';
@import 'header.scss';
@import 'footer.scss';
body, html{
  padding: 0; margin: 0;
}
body{
    background: #262626;
    overflow-x: hidden;
}
.clear{clear: both;}
a{
    text-decoration: none;
}
a:hover {
    color: #376bfb;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.sliderBlock {
    clear: both;
    color: #fff;
    padding-top: 36px;
    a.slick-arrow{
        height: 100%;
        top: 0;
        margin-top: 0;
        background: transparent;
        span{
            background: url("/app/assets/img/arrow.png") transparent  left center no-repeat;
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: 100;
        }
        &:after{
            content: "";
            background: #000;
            opacity: 0.7;
            position: absolute;
            width: 45px;
            height: 100%;
            left: -10px;
        }
        &.slick-prev{
            left: 10px;
        }
        &.slick-next{
            right: 10px;
            span{
                background-position: right center;
            }
        }
    }
    .item {
        float: left;
        border-radius: 5px;
        margin: 0 3px;
        overflow: hidden;
        -webkit-transition: all 200ms ease-out;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-out;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-out;
        -moz-transform: scale(1);
        transition: all 200ms ease-out;
        transform: scale(1);
        a{
            color: #fff;
        }
        &:hover{
            box-shadow: 0px 0px 150px #000000;
            z-index: 2;
            -webkit-transition: all 200ms ease-out;
            -webkit-transform: scale(1.3);
            -ms-transition: all 200ms ease-out;
            -ms-transform: scale(1.3);
            -moz-transition: all 200ms ease-out;
            -moz-transform: scale(1.3);
            transition: all 200ms ease-out;
            transform: scale(1.3);
            position: relative;
            z-index: 99;
        }
    }
    .head {
        h3 {
            font-size: 20px;
        }
    }
    .description {
        background: #000;
        min-height: 74px;
        padding: 0px 15px;
        h6 {
            font-size: 18px;
            padding: 14px 0;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
        }
        .play {
            font-size: 14px;
            float: left;
            background: url("/app/assets/img/icon/i-play.png") transparent  left center no-repeat;
            padding-left: 24px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
        }
        .heart {
            font-size: 14px;
            float: left;
            background: url("/app/assets/img/icon/heart.png") transparent  left center no-repeat;
            padding-left: 28px;
            height: 16px;
            line-height: 16px;
            margin-left: 30px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
        }
    }
}
.paging{
    padding-top: 35px;
    padding-bottom: 35px;
    ul{
        display: table;
        margin: 0 auto;
        li{
            display: inline-block;
            margin: 0 10px;
            a{
                color: #ccc;
                font-size: 18px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;

                &.active, &:hover{
                    color: #376bfb;
                }
            }
        }
    }
}
