@media only screen and (min-width: 641px) and (max-width: 992px) {
    .controls {
        .time{
            width: 14%;
        }
        .progress{
                width: 53%;
        }
    }
    .main-nav a{
        padding-bottom: 12px!important;
        display: inline-block;
    }
    .item {
        .description {
            .play {
                margin-bottom: 10px;
                margin-right: 5px;
            }
            .heart {
                margin-left: 0;
            }
        }
    }
    .list-video{
        .item{
            margin: 2%;
        }
    }
    .infoBlock {
        .col{
            width: 100%;
            &.right {
                width: 100%;
            }
        }
    }
    .VideoDetail{
        .list-video{
            padding: 30px 2%;
            .item{
                margin: 5px;
            }
        }
    }
    .list-video{
        padding: 30px 5%;
    }
    .LiveSchedule, .LiveHome .innerVideoLive .VideoPlay{
        width: 100%;
        display: block;
    }
    .LiveHome .innerVideoLive{
        padding-bottom: 40px;
    }
    .Popup-Account.Trailer .contentPopup .btn_close {
        left: 0;
    }
    .Popup-Account.Trailer .contentPopup{
        margin-left: 0;
        left: 0;
        width: 100%;
    }
    .commentBlock .box-input textarea{
        width: 96%;
    }
    .LiveSchedule .scroll-list .col.content {
        width: 80%;
    }
    .controls{
         #progress {
             span{
                 top: -5px;
             }
         }
    }
}
